[Desktop Entry]
Type=Application
Exec=tkosdshconfig
Icon=
MiniIcon=
Comment=
Comment[de]=
Terminal=false
Name=OSD tkosdshconfig
Name[de]=OSD tkosdshconfig
Name[en]=OSD tkosdshconfig
