[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=keymapconfig
Icon=
MiniIcon=
Comment=
Comment[de]=
Terminal=false
Name=OSD keymapconfig
Name[de]=OSD keymapconfig
Name[en]=OSD keymapconfig
